wintri.ps1
test_demo/
.DS_Store
gtrace
debug_output.txt
test_batch/
test_demo

# Node
node_modules/
frontend/node_modules
frontend/node_modules/
frontend/dist/
vendor/

# Wails
build/bin/
frontend/wailsjs/

# Test Data
test_dataset/
test_demo/
test_batch/
debug_output.txt
.gocache/

# Wails Artifacts
build/bin/
frontend/wailsjs/

# Editor
.idea/
.vscode/

# Release
dist/

# Scratchpad / Experimental
cmd/ntfs_trial/
utils/